logs/apache2/
logs/apache2/*
db/mariadb/
db/mariadb/*
db/oracle/*
logs/*
nohup.out
*.swp
*-old
*.old
*.ovpn
*.log
web/myAdmin
!*.gitkeep
SOURCE_APP
web/uploads/*
web/uploads/
web/cms/config/database.php